.outer{
    padding-top: 10px;
    padding-bottom: 0.4rem;
    border-bottom: 1px white solid;
   
}

.inner{
    text-align: left;
    position: relative;
}
.span{
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 800;
    font-size: 1.2rem;
    margin: auto;
    top: 0;
    bottom: 0;
}

.lable{
    width:3.6rem;
    height: 0.8rem;
    display: inline-flex;
    justify-content: center;
    font-family: Poppins;
    font-weight: 600;
    font-size: 0.5rem;
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    color: #FFFFFF;
    
}