.outer{
    width: 10rem;
    background-color: rgb(215, 217, 219);
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.image{
    width: 10rem;
    margin: 1rem;
    
}
